<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html' %}

<body>
    <section class="section">
        <div class="container has-text-centered">
            <p class="libre is-size-4">Hafta</p>
        
            <div class="columns is-centered" style="margin-top:3rem;">
                <div class="column is-one-quarter-desktop is-centered">
                    <div class="box">
                        <form action="{{ url_for('auth.login')}}" method="POST">
                                {{form.hidden_tag()}}

                            <div class="field">
                                <div class="control">
                                    <label for="username" class="libre label">Username</label>
                                    {{form.username(class="input" , placeholder="Enter Username")}}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="password" class="libre label">Password</label>
                                    {{form.password(class="input" , placeholder="Enter Password")}}
                                </div>
                            </div>
                            <br>
                            <div class="level">
                                <div class="level-start">
                                    <div class="level-item">
                                            <div class="control">
                                                    {{form.submit(class="button is-black")}}
                                                </div>
                                    </div>
                                </div>
                                <div class="level-end">
                                    <div class="level-item">
                                        <a href="{{ url_for( 'auth.register')}}" class="button is-text">Sign Up?</a>
                                    </div>
                                </div>
                                

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>

</html>