<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html' %}

<body>
    <section class="section">
        <div class="container">

            <div class="columns is-centered">
                <div class="column is-one-quarter-desktop is-centered">
                    <p class="libre is-size-3">Hafta</p>
                    <br>
                    <p class=" is-size-5">Hello. <br>
                        Please Signup with a key.</p>
                    <hr style="margin: 0.5rem 0;">
                    <p>Don't have one? <a href="" class="is-underline"> Get a license</a></p>
                    <div style="margin-top:2rem;">
                        {% if mssg != "" %}
                        <p id="auth_snackbar" class="has-text-weight-bold is-underline has-text-danger">{{ mssg }}</p>
                        {% endif %}
                        <br>
                        <form action="{{ url_for('auth.register')}}" method="POST">
                            {{form.hidden_tag()}}
                            <div class="field">
                                <div class="control">
                                    <label for="username" class="label">Username</label>
                                    {{form.username(class="input" , placeholder="Enter Username")}}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="password" class=" label">Key</label>
                                    {{form.key(class="input" , placeholder="Enter Key")}}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="password" class=" label">Password</label>
                                    {{form.password(class="input" , placeholder="Enter Password")}}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="password" class=" label">Retype Password</label>
                                    {{form.password2(class="input" , placeholder="Retype Password")}}
                                </div>
                            </div>
                            <br>
                            <div class="level">
                                <div class="level-start">
                                    <div class="level-item">
                                        <div class="control">
                                            {{form.submit(class="button is-black")}}
                                        </div>
                                    </div>
                                </div>
                                <div class="level-end">
                                    <div class="level-item">
                                        <a href="{{ url_for( 'auth.login')}}" class="button is-text">Login?</a>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer has-background-white has-text-centered is-size-6">
        <p>Payroll & HR software for Indian Businesses.</p>
        <p><a href="mailto:padamsethia5@gmail.com" class="is-underline">Contact</a> for a license. </p>
    </footer>

</body>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        setTimeout(function () {
            document.getElementById("#auth_snackbar").addClass("animated fadeOutUp");
        }, 3000);

    });
    axios.post("/auth/remove/session")
        .then(function (response) {
            console.log("session['mssg'] is empty")
        })

</script>

</html>