<template id="columnchart">
    <div class="columnchart_container">
        <span class="cols is-uppercase is-size-7 has-text-weight-semibold" v-for="(box,index) in datalist"
            :data-tooltip="getTooltip(box,index)" :style="{ 'height': setHeight(box)}">
            [[ box.performance.name]]
            <br>
            <small>WEIGHT: [[ box.performance.weight]]
            </small>
        </span>
    </div>

</template>

<script>

    Vue.component('columnchart', {
        template: "#columnchart",
        props: {
            datalist: { type: Array, default: () => [{ "id": 119, "performance": { "weight": 5, "id": 1, "name": "Cleaniless", "score": 10 }, "obt_score": 7, "performance_id": 1, "trans_per_id": 22 }, { "id": 120, "performance": { "weight": 5, "id": 2, "name": "On Time", "score": 10 }, "obt_score": 10, "performance_id": 2, "trans_per_id": 22 }, { "id": 121, "performance": { "weight": 10, "id": 3, "name": "hard Working", "score": 10 }, "obt_score": 10, "performance_id": 3, "trans_per_id": 22 }, { "id": 122, "performance": { "weight": 10, "id": 4, "name": "Overtime", "score": 10 }, "obt_score": 10, "performance_id": 4, "trans_per_id": 22 }] },
        },
        delimiters: ["[[", "]]"],
        data: function () {
            return {
                colorval: [],
                factors: this.datalist
            }
        },
        mounted() {

            let raw = this;
            this.datalist.forEach(function (item) {
                raw.colorval.push((Number(item) / 30));
            })
        },
        methods: {
            setHeight(val) {
                return (Number(val.obt_score) / val.performance.score) * 100 + 'px'
            },
            getTooltip(factor, index) {
                return factor.obt_score + '/' + factor.performance.score + ' ' + factor.performance.name
            }
        }
    })
</script>

<style>
    .cols {

        /* padding: 9px; */
        height: 12px;
        margin: 2px !important;
        /* background-color: grey; */
        /* font-size: 0 !important; */
        background-color: aquamarine !important;
        padding: 5px;
        display: inline-block;

    }

    [data-tooltip] {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
</style>