<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html'%}

<body class="hero is-fullheight">

    <!-- Mobile Nav -->
    <div class="navbar is-hidden-desktop ">
        <div class="container">
            <div class="navbar-brand has-background-black ">
                <a class="navbar-item " href="{{url_for('main.home')}}" style="font-weight:bold;">
                    <div class="brand">
                        <p class="title rubik has-text-white" style="letter-spacing: -2px;">a</p>
                    </div>

                </a>
                <span class="navbar-burger burger has-text-white" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navMenu" class="navbar-menu is-shadowless is-transparent has-navbar-fixed-top animated fadeIn">

                <div class="navbar-end is-size-5 is-center" style="padding-left:1rem; padding-top:2rem;">
                    <aside class="menu" style="margin-bottom:2rem;">
                        <p class="menu-label">
                            Current Project
                        </p>
                        <div class="project-select rubik " style="margin-bottom:2rem;">
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span class="icon is-small">
                                            <i data-feather="arrow-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list is-size-5  has-text-weight-bold roboto">
                            <li><a href="{{url_for('main.home')}}"><span class="icon icon-btn"><i
                                            data-feather="zap"></i></span> Dashboard</a></li>

                        </ul>
                    </aside>

                    <aside class="menu" style="margin-bottom:2rem;">
                        <p class="menu-label">
                            Help
                        </p>
                        <ul class="menu-list is-size-5  has-text-weight-bold roboto">
                            <li><a href="https://github.com/PadamSethia/automato/issues"><span class="icon icon-btn"><i
                                            data-feather="help-circle"></i></span> Raise Issue</a>
                            </li>
                            <li><a><span class="icon icon-btn"><i data-feather="life-buoy"></i></span> FAQ</a></li>
                        </ul>
                    </aside>

                    <aside class="menu is-fixed-bottom" style="margin-bottom:2rem;">
                        <p class="menu-label">
                            User - {{ current_user.username }}
                        </p>
                        <ul class="menu-list is-size-5  has-text-weight-bold roboto">

                            <li><a href="{{url_for('auth.logout')}}"><span class="icon icon-btn"><i
                                            data-feather="log-out"></i></span> Log Out</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function () {
            var burger = document.querySelector('.burger');
            var nav = document.querySelector('#' + burger.dataset.target);
            burger.addEventListener('click', function () {
                burger.classList.toggle('is-active');
                nav.classList.toggle('is-active');
            });
        })();
    </script>

    <!-- Main Content -->
    <div class="columns is-fullheight" style="margin-top:0 ; margin-bottom: 0; ">

        <!-- Desktop nav -->
        <div class="column has-text-white is-2 is-fullheight has-background-black is-sidebar-menu is-hidden-touch has-background-black"
            id="mainmenu">
            <div id="side-menu" style="position: sticky !important; top:3rem;">
                <div>
                    <p class="libre is-size-4 has-text-white" style="margin-bottom : 2rem;">Hafta</p>

                </div>

                <aside class="menu" style="margin-bottom:2rem;">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list ">
                        <li><a href="{{url_for('main.home')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="zap"></i></span>
                                Dashboard</a></li>
                        <li><a href="{{url_for('main.home')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="briefcase"></i></span>
                                Firms</a></li>
                        <li><a href="{{url_for('employee.show_employee')}}" class="has-text-white"><span
                                    class="icon icon-btn"><i data-feather="users"></i></span>
                                Employees</a></li>
                        <li><a href="{{url_for('main.home')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="coffee"></i></span>
                                Leaves</a></li>
                        <li><a href="{{url_for('main.home')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="dollar-sign"></i></span>
                                Advance</a></li>
                        <li><a href="{{url_for('main.home')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="award"></i></span>
                                Performance</a></li>
                    </ul>
                </aside>

                <aside class="menu" style="margin-bottom:2rem;">
                    <p class="menu-label">
                        MASTER
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{url_for('master.view_master')}}" class="has-text-white"><span
                                    class="icon icon-btn"><i data-feather="layers"></i></span>
                                Basic Master</a></li>
                        <li><a href="{{url_for('employee.new')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="user-plus"></i></span>
                                Add Employee</a></li>
                    </ul>
                </aside>

                <aside class="menu is-fixed-bottom">
                    <p class="menu-label">
                        User
                    </p>
                    <ul class="menu-list ">
                        <li><a href="{{url_for('main.home')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="user"></i></span> {{current_user.username}}</a></li>
                        <li><a href="{{url_for('auth.logout')}}" class="has-text-white"><span class="icon icon-btn"><i
                                        data-feather="log-out"></i></span> Logout</a></li>

                    </ul>
                </aside>

            </div>
        </div>
        <div class="column is-main-content ">

            <div class=" animated fadeIn">
                {% block content %}

                {% endblock %}
            </div>

        </div>

    </div>
    <script>
        feather.replace()
    </script>
</body>

</html>