<head>
    {% if subtitle %}
    <title>Hafta - {{subtitle}}</title>
    {% else %}
    <title>Hafta</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inter-ui@3.10.0/inter.min.css">

    <!-- Local Imports -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/bulma.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'css/animate.min.css') }}">
    <script src="{{ url_for('static' , filename = 'js/vue.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'js/vue-router.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'js/axios.min.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'js/feather.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='js/vue-feather.min.js')}}"></script>
    <script src="{{ url_for('static' , filename='js/buefy.min.js')}}"></script>

    <link href="{{ url_for('static' , filename = 'img/favicon.png') }}" rel="icon" type="image/x-icon" />



</head>