{% extends 'base/base.html' %}
{% block content %}

{% include 'master/attendence_rules.html' %}
{% include 'master/performance.html' %}
{% include 'master/company.html' %}
{% include 'master/location.html' %}
{% include 'master/benefit.html' %}
{% include 'master/city.html' %}

<script src="{{ url_for('static' , filename ='js/company.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/location.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/empcat.js' )}}"></script>

<script src="{{ url_for('static' , filename ='js/appointment.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/department.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/post.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/benefits.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/city.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/pay.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/performance.js' )}}"></script>
<script src="{{ url_for('static' , filename ='js/attendence_rules.js' )}}"></script>
<div class="container">
    
    <section class="section">
        <div id="master">
            <div class="tabs">
                <ul>

                    <li>
                        <router-link to="/company">Company</router-link>
                    </li>
                    <li>
                        <router-link to="/location">Location</router-link>
                    </li>
                    <li>
                        <router-link to="/city">City</router-link>
                    </li>
                    <li>
                        <router-link to="/category">Emp. Category</router-link>
                    </li>
                    <li>
                        <router-link to="/appointment">Appointment</router-link>
                    </li>
                    <li>
                        <router-link to="/department">Department</router-link>
                    </li>
                    <li>
                        <router-link to="/post">Post</router-link>
                    </li>
                    <li>
                        <router-link to="/benefits">Benefits</router-link>
                    </li>
                    <li>
                        <router-link to="/modeofpay">Mode of Pay</router-link>
                    </li>
                    <li>
                        <router-link to="/performance">Perfomance Factor</router-link>
                    </li>
                    <li>
                        <router-link to="/attendence-rules">Attendence Rules</router-link>
                    </li>


                </ul>
            </div>
            <br>
            <!-- route outlet -->
            <!-- component matched by the route will render here -->
            <router-view></router-view>


        </div>

    </section>

</div>

<script>
    // import { Edit2Icon } from 'vue-feather-icons'

    // 2. Define some routes
    // Each route should map to a component. The "component" can
    // either be an actual component constructor created via
    // `Vue.extend()`, or just a component options object.
    // We'll talk about nested routes later.

    const routes = [
        { path: '', component: CompanyForm },
        { path: '/', component: CompanyForm },

        { path: '/company', component: CompanyForm },
        { path: '/location', component: LocationForm },
        { path: '/city', component: CityForm },
        { path: '/category', component: EmpCatForm },
        { path: '/appointment', component: AppointmentForm },
        { path: '/department', component: DepartmentForm },
        { path: '/post', component: PostForm },
        { path: '/benefits', component: BenefitsForm },
        { path: '/modeofpay', component: PayForm },
        { path: '/performance', component: PerformanceForm },
        { path: '/attendence-rules', component: AttendenceRulesForm },




    ]

    // 3. Create the router instance and pass the `routes` option
    // You can pass in additional options here, but let's
    // keep it simple for now.
    const router = new VueRouter({
        routes // short for `routes: routes`
    })

    // 4. Create and mount the root instance.
    // Make sure to inject the router with the router option to make the
    // whole app router-aware.
    const app = new Vue({
        router,
        components: {
            'company-form': CompanyForm,
            'location-form': LocationForm,
            'city-form': CityForm,
            'category-form': EmpCatForm,
            'appointment-form': AppointmentForm,
            'department-form': DepartmentForm,
            'post-form': PostForm,
            'benefits-form': BenefitsForm,
            'pay-form': PayForm,
            'performance-form': PerformanceForm,
            'attendence_rules': AttendenceRulesForm,


        }
    }).$mount('#master')


</script>
{% endblock %}