<template id="performance_form">

    <div>

        <!-- Edit Modal -->
        <div class="modal animated is-active fadeIn" v-show="modal">
            <div class="modal-background" @click="modal = !modal"></div>
            <div class="modal-content">

                <div class="box">


                    <form id="data_entry" novalidate="true" @submit="saveEditData">
                        <div v-if="edit.errors.length" class="notification animated fadeIn">ERROR</p>
                            <ul>
                                <li v-for="error in edit.errors" class="is-underline">[[ error.message ]]</li>
                            </ul>
                        </div>
                        <p class="is-size-5">Edit Performance</p>
                        <br>
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <label class="label">Performance</label>
                                <input class="input" ref="name" v-model="edit.name" type="text" placeholder="Enter Name"
                                    v-bind:class="[edit.errors.name ? 'is-danger' : '']">
                            </div>
                            <div class="control">
                                <label for="" class="label">Max. Score</label>
                                <input type="text" class="input" v-model="edit.score"
                                    v-bind:class="[edit.errors.score ? 'is-danger' : '']" placeholder="Enter Score">
                            </div>
                            <div class="control">
                                <label for="" class="label">Weight</label>
                                <input type="text" class="input" v-model="edit.weight"
                                    v-bind:class="[edit.errors.weight ? 'is-danger' : '']" placeholder="Enter Weight">
                            </div>
                        </div>
                        <br>
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-black" @click="saveEditData"><span
                                        class="icon icon-btn icon-btn-in"><i data-feather="plus"></i></span>Save
                                </a>
                            </p>

                            <p class="control">
                                <a class="button" @click="modal = !modal"><span class="icon icon-btn icon-btn-in"><i
                                            data-feather="x"></i></span>Cancel
                                </a>
                            </p>
                            <div class="control" v-if="Object.keys(edit.errors).length != 0">
                                <p class="has-text-danger is-underline">Please fix the errors</p>
                            </div>
                        </div>
                    </form>

                </div>
                <button class="modal-close is-large" aria-label="close" @click="modal = !modal"></button>

            </div>

        </div>

        <!-- Entry Form -->

        <form id="data_entry" novalidate="true" @submit="submitData ;" v-show="view">


            <div class="field is-grouped is-grouped-multiline">
                <div class="control is-expanded">
                    <label for="" class="label">Performance</label>
                    <input type="text" class="input is-fullwidth" ref="name" v-model="form.name"
                        v-bind:class="[form.errors.name ? 'is-danger' : '']" placeholder="Enter Performance">
                </div>
                <div class="control">
                    <label for="" class="label">Max. Score</label>
                    <input type="text" class="input" v-model="form.score"
                        v-bind:class="[form.errors.score ? 'is-danger' : '']" placeholder="Enter Score">
                </div>
                <div class="control">
                    <label for="" class="label">Weight</label>
                    <input type="text" class="input" v-model="form.weight"
                        v-bind:class="[form.errors.weight ? 'is-danger' : '']" placeholder="Enter Weight">
                </div>

            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" @click="submitData" class="button is-black"><span
                            class="icon icon-btn icon-btn-in"><i data-feather="plus"></i></span> Save</button>
                </div>
                <div class="control">
                    <button class="button" v-on:click="view = !view" @click="getData"><span
                            class="icon icon-btn icon-btn-in"><i data-feather="eye"></i></span> View</button>
                </div>
                <div class="control" v-if="Object.keys(form.errors).length != 0">
                    <p class="has-text-danger is-underline">Please fix the errors</p>
                </div>
            </div>
        </form>


        <!-- Table  -->

        <div v-show="!view">
            <div class="control">
                <button class="button" v-on:click="view = !view ; form.errors = [] ; "><span
                        class="icon icon-btn icon-btn-in"><i data-feather="eye"></i></span> View</button>
            </div>
            <br>
            <div class="table-container" id="data_view">

                <table class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                            <th>Weight</th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr v-for="( row ,index ) in data" v-bind:index="index" @click="selectRow(row)"
                            v:bind:class="selected : isSelected">
                            <td>[[ row.name]]</td>
                            <td>[[ row.score]]</td>
                            <td>[[ row.weight]]</td>
                            <td>
                                <div class="buttons">
                                    <div class="button" @click="editData(row)">Edit</div>
                                    <div class="button is-danger"  @click="deleteData(row , index)">Delete</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>